# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# PyCharm project files
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs, temporary files
*.log
*.tmp

# Optional: Python bytecode for pip packages
*.egg-info/
dist/
build/